.container {
  padding: 0rem 1.2rem;
}

.title {
  text-align: center;
  color: var(--deep-blue);
  font-size: 2.5rem;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-block-start: 3rem;
  background: linear-gradient(var(--jasmine) 20%, var(--deep-blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  text-align: center;
  margin-block-start: 0.5rem;
  margin-block-end: 3rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.8rem;
  }
}

.emojiForm {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 30rem;
  border: none;
  outline: 1px solid var(--dull-grey);
  border-radius: 40px;
  overflow: hidden;
  padding: 0.5rem 0.9rem;
  background: var(--white);
  transition: outline 0.1s ease;
  transform: translateZ(0);
}
.emojiForm:focus-within {
  outline: 2px solid var(--green);
  outline-offset: 1px;
}

.emojiInput {
  color: var(--primary);
  font-size: 1.1rem;
  flex: 1;
  border: none;
  margin-left: 0.4rem;
}
.emojiInput:focus {
  outline: none;
}

.searchIcon {
  width: 1.8rem;
  fill: var(--primary);
}

.clipboard {
  position: fixed;
  width: 100%;
  padding: 0.5rem 0.5rem;
  top: 0;
  left: 0;
  background: var(--lemon);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 0.8rem;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}
.clipboard-show {
  transform: translateY(0);
}

.recentSearch {
  margin: auto;
  max-width: 30rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.search {
  background: none;
  color: var(--deep-blue);
  font-size: 0.9rem;
  border-radius: 24px;
  margin-right: 0.2rem;
  cursor: pointer;
  border: none;
  padding: 0.15rem 0.5rem;
  transition: background 0.3s ease;
}
.search:hover {
  background: var(--grey);
}

.searchResults {
  font-size: 0.8rem;
  opacity: 0.7;
  max-width: 75rem;
  margin-inline: auto;
  margin-block-start: 3rem;
  margin-block-end: 1rem;
}
