.gridContainer {
  max-width: 75rem;
  margin: auto;
  height: calc(100vh - 14rem);
  margin-top: 2rem;
  overflow: auto;
}

.listContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
}

@media (min-width: 768px) {
  .listContainer {
    padding-right: 1rem;
  }
}

.itemContainer {
  display: flex;
  height: 10rem;
}

.loading {
  margin-top: 3rem;
  text-align: center;
}

.listEnd {
  text-align: center;
  padding: 1rem 0;
}
